[submodule "src/abstraction"]
	path = src/abstraction
	url = https://github.com/Comertis/Serializers-Abstraction
[submodule "src/json"]
	path = src/json
	url = https://github.com/Comertis/Serializers-JSON
[submodule "src/xml"]
	path = src/xml
	url = https://github.com/Comertis/Serializers-XML
[submodule "src/csv"]
	path = src/csv
	url = https://github.com/Comertis/Serializers-CSV
